<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="padding-bottom: 20px; padding-left: 10px;">
    <span><label style="font-size: 16px; font-weight: bold;">나의 문의가 접수 되었습니다.</label></span>
</div>
<div style="padding-bottom: 20px; padding-left: 10px;">
    <div>
        <div style="padding-bottom: 10px;">
            ▣<label style="font-size: 16px;" th:text="'고유번호: ' + ${id}"></label>
        </div>
        <div style="padding-bottom: 10px;">
            ▣<label style="font-size: 16px;" th:text="'문의유형: ' + ${codeName}"></label>
        </div>
        <div style="padding-bottom: 10px;">
            ▣<label style="font-size: 16px;" th:text="'제목: ' + ${title}"></label>
        </div>
        <div style="padding-bottom: 10px;">
            ▣<label style="font-size: 16px;" th:text="'내용: ' + ${content}"></label>
        </div>
    </div>
</div>
<div style="padding-left: 10px;">
    <label>▶ </label><a href="https://hcmp.mydaas.kr/web"><label style="font-size: 16px; font-weight: bold;">문의 확인</label></a>
</div>
</body>
</html>